<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Customer Manager</title>
</head>
<body>
    <h1>Customer Manager</h1>
    <a href="/customers"><button>Go to Customers</button></a>
    <a href="/order_items"><button>Order Items</button></a>
    <a href="/orders"><button>Orders</button></a>
    <a href="/product_information"><button>Product Information</button></a>
</body>
</html>
