<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Items</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <button onclick="location.href='/'">Volver al Inicio</button>
    <h1>Order Items</h1>
    <label for="orderId">Order ID:</label>
    <input type="text" id="orderId">
    <button id="loadOrderItemsBtn">Load Order Items</button>
    <div id="orderItems"></div>

    <script>
        document.getElementById('loadOrderItemsBtn').addEventListener('click', fetchOrderItems);

        function fetchOrderItems() {
            const orderId = document.getElementById('orderId').value.trim();

            let url = '/fetch_order_items';
            if (orderId) {
                url += `?order_id=${orderId}`;
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
                    const orderItemsDiv = document.getElementById('orderItems');
                    orderItemsDiv.innerHTML = '';  // Clear previous content
                    const table = document.createElement('table');
                    const thead = document.createElement('thead');
                    const tbody = document.createElement('tbody');

                    const headerRow = document.createElement('tr');
                    ['ORDER_ID', 'LINE_ITEM_ID', 'PRODUCT_ID', 'UNIT_PRICE', 'QUANTITY'].forEach(headerText => {
                        const th = document.createElement('th');
                        th.innerText = headerText;
                        headerRow.appendChild(th);
                    });
                    thead.appendChild(headerRow);
                    table.appendChild(thead);

                    data.forEach(item => {
                        const row = document.createElement('tr');
                        for (key in item) {
                            const td = document.createElement('td');
                            td.innerText = item[key];
                            row.appendChild(td);
                        }
                        tbody.appendChild(row);
                    });
                    table.appendChild(tbody);
                    orderItemsDiv.appendChild(table);
                })
                .catch(error => console.error('Error fetching order items:', error));
        }
    </script>
</body>
</html>
